{% load static %}
<!DOCTYPE html>
<html>
<head>    
	<title>{{title}}</title></head>
	<style type="text/css">
		body{
			
			position: relative;
			height: 592px;
			background: linear-gradient(to left, #76b852, #8DC26F);
			text-align: center;

		}
		.pswd_rst{
			position: absolute;
			top: 35%;
			left:0;
			right: 0;

		}
		.pswd_rst h1{
			color: #FFFFFF;
			font-weight: 200;
		}
		.pswd_rst label{
			color: #FFFFFF;
			font-weight: 200;
		}
	</style>
<body>  
<div class="pswd_rst">  
	<h1>Password Reset</h1>    
	 <form method="post">
	 	{% csrf_token %}
	  <label for="Reset_pass">Your Registered Email:
	  	<input type="email" name="email">
	  </label>
	  <input type="submit">
    </form>
</div>
</html>